<ion-view view-title="เกี่ยวกับเรา">
  <ion-content>
    <div class="list">
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-help-circled"></i> วิธีใช้งาน
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-android-pin"></i> ติดต่อเรา
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-android-lock"></i> ข้อกำหนดและเงื่อนไขการใช้งาน
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>

                    </div>
  </ion-content>
</ion-view>