<ion-view view-title="คำนวนเงินกู้">
    <ion-content>
        <div class="list">
            <div class="item item-divider item-text-wrap">
                ประเภทการส่ง
            </div>
            <ion-checkbox ng-model="interest">ส่งเท่ากันทุกเดือน (ต้น+ดอก)</ion-checkbox>
            <ion-checkbox ng-model="principle">ต้นเท่ากันทุกเดือน</ion-checkbox>
            <div class="item item-divider item-text-wrap">
            </div>
            <label class="item item-input">
                <span class="input-label">อัตราดอกเบี้ย (ต่อปี)</span>
                <input type="text" class="text-right" value="5.25">
            </label>
            <label class="item item-input">
                <span class="input-label">วงเงินกู้ (บาท)</span>
                <input class="text-right" type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">จำนวนงวด (งวด)</span>
                <input class="text-right" type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">ส่งเงินกู้ต่อเดือน (บาท)</span>
                <input class="text-right" type="password">
            </label>
        </div>
        <div class="row">
            <div class="col col-33"></div>
            <div class="col col-33"><a class="button button-outline button-royal" href="#">
  คำนวณ
</a></div>
            <div class="col col-33"></div>
        </div>
    </ion-content>
</ion-view>
