<ion-view view-title="คำนวนเงินกู้">
    <ion-content>
        <div class="list">
            <div class="item item-divider item-text-wrap">
                ประเภทการส่ง
            </div>
            <ion-radio ng-model="choice" ng-value="'A'">ส่งเท่ากันทุกเดือน (ต้น+ดอก)</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">ต้นเท่ากันทุกเดือน</ion-radio>
            <div class="item item-divider item-text-wrap">รายละเอียด
            </div>
            <label class="item item-input">
                <div class="row">
                    <div class="col col-50"><span class="input-label">อัตราดอกเบี้ย (ต่อปี)</span></div>
                    <div class="col col-50">
                        <input type="number" class="text-right" value="5.25">
                    </div>
                </div>
            </label>
            <label class="item item-input">
                <div class="row">
                    <div class="col col-50"><span class="input-label">วงเงินกู้ (บาท)</span></div>
                    <div class="col col-50">
                        <input class="text-right" type="number">
                    </div>
                </div>
            </label>
            <label class="item item-input">
                <div class="row">
                    <div class="col col-50"><span class="input-label">จำนวนงวด (งวด)</span></div>
                    <div class="col col-50">
                        <input class="text-right" type="number">
                    </div>
                </div>
            </label>
            <label class="item item-input">
                <div class="row">
                    <div class="col col-50"><span class="input-label">ส่งเงินกู้ต่อเดือน (บาท)</span></div>
                    <div class="col col-50">
                        <input class="text-right" type="number">
                    </div>
                </div>
            </label>
        </div>
        <div class="row">
            <div class="col col-33"></div>
            <div class="col col-33"><a class="button button-outline button-block button-royal" href="#" style="width=100%;">
  คำนวณ
</a></div>
            <div class="col col-33"></div>
        </div>
    </ion-content>
</ion-view>
