<ion-view view-title="ทุนเรือนหุ้น">
  <ion-content>


     <div class="list">

    <a class="item " href="#/app/capital-stockdetail">
     <p>ทุนสวัสดิการบำเหน็ดสามชิกที่เกษียณอายุ  </p> 
     <h2 class="text-right">500,000.00</h2>
    </a>
	 <a class="item " href="#/app/capital-stockdetail">
     <p>กองทุนสวัสดิการทุนเรือนหุ้น  </p> 
     <h2 class="text-right">1,000,000.00</h2>
    </a>
     <a class="item " href="#/app/capital-stockdetail">
     <p>ทุนสาธารณประโยชน์  </p> 
     <h2 class="text-right">80,000.00</h2>
    </a>

</div>


<!--     Content Here<a href="#/app/capital-stockdetail">goto_detail</a> -->

  </ion-content>
</ion-view>