<ion-view view-title="ทุนเรือนหุ้น">
    <ion-content>
        <div class="ทุนสารธารณประโยชน์">
            <div class="item item-text-wrap">
                ประเภท : ทุนสารธารณประโยชน์
                <p>เลขบัญชี : 161-5XXX-X จำนวน : 80,000.00</p>
            </div>
                <div class="item item-divider">รายการล่าสุด</div>
                <div class="list">
                    <a class="item" href="#">กอทุน&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 April 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,000.00
                </span>
            </a>
                    <a class="item" href="#">กอทุน&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">15 Mar 2016&nbsp;&nbsp;12:30</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,000.00
                </span>
            </a>
                    <a class="item" href="#">กอทุน&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 Mar 2016&nbsp;&nbsp;12:20</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,000.00
                </span>
            </a>
                    <a class="item" href="#">กอทุน&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">29 Feb 2016&nbsp;&nbsp;13:10</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,000.00
                </span>
            </a>
                    <a class="item" href="#">กอทุน&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 Feb 2016&nbsp;&nbsp;11:40</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,000.00
                </span>
            </a>
                </div>
    </ion-content>
</ion-view>
