<ion-view view-title="เปลี่ยนรหัสผ่าน">
    <ion-content>
        <br>
        <div class="list">
            <label class="item item-input">
                <span class="input-label" >รหัสผ่านเดิม</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label" >รหัสผ่านใหม่</span>
                <input type="password">
            </label>
            <label class="item item-input">
                <span class="input-label">ยืนยันรหัสผ่านใหม่</span>
                <input type="password">
            </label>
        </div>
        <div class="row">
            <div class="col col-75"><a class="button button-block button-balanced" href="#" style="width=100%;">
  บันทึกการเปลี่ยนแปลง
</a></div>
            <div class="col col-25"><a class="button button-block button-stable" href="#/app/setting" style="width=100%;">
  ยกเลิก
</a></div>
        </div>
    </ion-content>
</ion-view>
