<ion-view view-title="เปลี่ยนชื่อผู้รับผลประโยชน์">
    <ion-content>
        <div class="list card">
            <a class="item " href="#/app/subchangechild">
                <p>เลขที่สัญญา : 667-234-1</p>
                <p>ชื่อผู้รับผลประโยชน์ :นายสมชาย ใจดี</p>
                <p>ประเภท : ก (พนักงานบริษัทการบินไทย จำกัด)</p>
                <h2 class="text-right">400,000.00</h2>
            </a>
            <a class="item " href="#/app/subchangechild">
                <p>เลขที่สัญญา : 667-657-9</p>
                <p>ชื่อผู้รับผลประโยชน์ :นางสมหญิง ใจดี</p>
                <p>ประเภท : ข (คู่สมรสของพนักงานบริษัทการบินไทย)</p>
                <h2 class="text-right">200,000.00</h2>
            </a>
            <a class="item " href="#/app/subchangechild">
                <p>เลขที่สัญญา : 676-443-7</p>
                <p>ชื่อผู้รับผลประโยชน์ :นางสะอาด ใจดี</p>
                <p>ประเภท : ค (บิดา-มารดา ของพนักงานบริษัทการบินไทย)</p>
                <h2 class="text-right">500,000.00</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
