<ion-view view-title="เงินฝาก">
    <ion-content>
        <div class="list">
            <a class="item " href="#/app/depositdetail">
                <p>เงินฝากออมทรัพย์ </p>
                <p>153-4-26170-0</p>
                <h2 class="text-right">500,000.00</h2>
            </a>
            <a class="item " href="#/app/depositdetail">
                <p>เงินฝากออมทรัพย์สะสมเพื่อลูก </p>
                <p>153-4-26270-0</p>
                <h2 class="text-right">8,000,000.00</h2>
            </a>
        </div>
        <!--     <a href="#/app/depositdetail">goto_detail</a> -->
    </ion-content>
</ion-view>
