<ion-view view-title="เงินฝากออมทรัพย์">
    <ion-content>
        <div class="เงินฝากออมทรัพย์">
            <div class="item item-text-wrap">
                ประเภท : เงินฝากออมทรัพย์
                <p>เลขบัญชี : 153-4-26170-0 จำนวน : 500,000.00</p>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    <div class=" button-bar ">
                        <a class="{{onemonth? 'true' : 'button-outline'}} button  button-balanced" ng-click="onemonthz()">ปัจจุบัน</a>
                        <a class="{{threemonths? 'true' : 'button-outline'}} button  button-balanced" ng-click="threemonthsz()">3 เดือน</a>
                        <a class="{{sixmonths? 'true' : 'button-outline'}} button  button-balanced" ng-click="sixmonthsz()">6 เดือน</a>
                    </div>
                </div>
                <div class="col col-10"></div>
            </div>
            <div ng-show="onemonth">
                <div class="item item-divider">รายการล่าสุดของเดือนปัจจุบัน</div>
                <div class="list">
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">วันนี้&nbsp;&nbsp;06:12</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                10,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                4,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;14:20</label>
              <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                            1,000.00
                            </span>
</a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 April 2016&nbsp;&nbsp;09:20</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         8,000.00
                </span>
            
            </a>
                </div>
            </div>
            <div ng-show="threemonths">
                <div class="item item-divider">ย้อนหลัง 3 เดือน</div>
                <div class="list">
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">วันนี้&nbsp;&nbsp;06:12</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                10,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                4,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;14:20</label>
              <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                            1,000.00
                            </span>
</a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 April 2016&nbsp;&nbsp;09:20</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         8,000.00
                </span>
            
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Mar 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,500.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Mar 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         900.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">27 Feb 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,000.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,900.00
            </a>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">9 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         1,500.00
            </a>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">27 Jan 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,000.00
                </span>
                </a>
                </div>
            </div>
            <div ng-show="sixmonths">
                <div class="item item-divider">ย้อนหลัง 6 เดือน</div>
                <div class="list">
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">วันนี้&nbsp;&nbsp;06:12</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                10,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                4,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;14:20</label>
              <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                            1,000.00
                            </span>
</a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 April 2016&nbsp;&nbsp;09:20</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         8,000.00
                </span>
            
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Mar 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,500.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Mar 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         900.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">27 Feb 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,000.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,900.00
            </a>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">9 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         1,500.00
            </a>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">27 Jan 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,000.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">29 Dec 2015&nbsp;&nbsp;16:50</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                4,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">14 Dec 2015&nbsp;&nbsp;14:22</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                3,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">22 Nov 2015&nbsp;&nbsp;08:09</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                4,000.00
                            </span>
                    </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">16 Nov 2015&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,500.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">08 Nov 2015&nbsp;&nbsp;11:55</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         500.00
                </span>
                </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">25 Oct 2015&nbsp;&nbsp;08:49</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                40,000.00
                            </span>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
