<ion-view view-title="เงินฝากออมทรัพย์">
    <ion-content>
        <div class="เงินฝากออมทรัพย์">
            <div class="item item-text-wrap">
                ประเภท : เงินฝากออมทรัพย์
                <p>เลขบัญชี : 153-4XXX-X จำนวน : 500,000.00</p>
            </div>
            <div class="item item-divider">รายการล่าสุด</div>
            <div class="list">
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                                4,000.00
                            </span>
                    </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                        <label style="color:#555555;">4 April 2016&nbsp;&nbsp;14:20</label>
                            <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                            <i class="ion-plus-round"></i>
                            1,000.00
                            </span>
                    </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 April 2016&nbsp;&nbsp;09:20</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         8,000.00
                </span>
            
            </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Mar 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,500.00
                </span>
            </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Mar 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         900.00
                </span>
                </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">27 Feb 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,000.00
                </span>
                </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">20 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         2,900.00
            </a>
                 </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">9 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         1,500.00
            </a>
            </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">27 Jan 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-red">
                    <i class="ion-android-remove"></i>
                    <!-- <i class="ion-plus-round"></i> -->
                         1,000.00
                </span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
