<ion-view view-title="ดาวน์โหลดเอกสาร">
    <!--   <ion-content>
    Content Here


  </ion-content> -->
    <!--       <div class="tabs tabs-icon-top Bg-menus BG-menu" >
  <a class="tab-item">
    <i class="icon ion-document-text"></i>
    ใบเสร็จรับเงิน
  </a>
  <a class="tab-item">
    <i class="icon ion-document"></i>
    ใบรับรองหุ้น
  </a>
  <a class="tab-item">
    <i class="icon ion-folder"></i>
    เอกสารอื่นๆ
  </a>
</div> <-->
    <ion-tabs class="tabs-positive tabs-icon-top bottom-tap">
        <ion-tab title="ใบเสร็จรับเงิน" class="bottom-tap BG-menu Bg-menus" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
            <ion-view view-title="Title">
                <ion-content>
                    <div class="list">
                        <a class="item item-icon-left item-icon-right" href="#/app/pdf">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 03/2559
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 02/2559
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 01/2559
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 12/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 11/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 10/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 9/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 8/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 7/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 6/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 5/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 4/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-document"></i> ใบเสร็จรับเงิน 3/2558
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="ใบรับรองหุ้นและเงินฝาก" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
            <!-- Tab 2 content -->
            <ion-view view-title="Title">
                <ion-content>
                </ion-content>
            </ion-view>
        </ion-tab>
        <ion-tab title="เอกสารอื่นๆ" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
            <!-- Tab 3 content -->
            <ion-view view-title="Title">
                <ion-content>
                    <div class="list">
                        <div class="item item-divider item-text-wrap">
                            หนังสือรายงานกิจการประจำปี
                        </div>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> รายงานกิจการประจำปี 2558 และรายงานประชุมใหญ่สามัญประจำปี 2559
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                   
                        <div class="item item-divider item-text-wrap">
                            แบบฟอร์ม bill payment
                        </div>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> แบบฟอร์มฝากเงินและชำระเงินผ่านเคาท์เตอร์ธนาคาร (bill payment)
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>

                        <div class="item item-divider item-text-wrap">
                            เอกสารและแบบฟอร์มเงินฝาก
                        </div>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> หนังสือยินยอมให้หักเงินจากบัญชีเงินฝาก
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> หนังสือเปิดบัญชีเงินฝาก
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> ข้อตกลงและเงื่อนไขในการใช้บริการเงินฝากประจำปลอดภาษี
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>

                        <div class="item item-divider item-text-wrap">
                            แบบฟอร์มทะเบียนหุ้น
                        </div>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> ใบสมัครเข้าเป็นสมาชิก
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> ใบรักษาสถานภาพการเป็นสมาชิก
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> คำร้องขอพ้นสภาพสมาชิก
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> แบบคำร้องขอเปลี่ยนแปลงเกี่ยวกับเงินค่าหุ้น
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>


                        <div class="item item-divider item-text-wrap">
                            สมาคมฌาปนกิจ
                        </div>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> ใบสมัครเข้าเป็นสมาชิก ประเภท ก.
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> ใบสมัครเข้าเป็นสมาชิก ประเภท ข.
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> ใบสมัครเข้าเป็นสมาชิก ประเภท ค.
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                        <a class="item item-icon-left item-icon-right item-text-wrap" href="#">
                            <i class="icon ion-document"></i> แบบคำร้องแจ้งสมาชิกเสียชีวิต
                            <i class="icon ion-ios-arrow-forward"></i>
                        </a>
                    </div>
                </ion-content>
            </ion-view>
        </ion-tab>
    </ion-tabs>
