<ion-view view-title="คำถาม" ng-init="showAns()">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-close-outline" style="color:White;" href="#/app/evalu">
            </a>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon  ion-checkmark-circled" style="color:White;" ng-show="answerS.ans">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-right" ng-repeat="item in answers" ng-click="sendAnswer(item)">
                <h2>{{item.question}}</h2>
                <p ng-hide="!answerS.ans" style="margin-left:16px;">ตอบ {{answerS.ans}}</p>
                <i class="icon ion-chevron-right" style="font-size:25px;"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
