<ion-view view-title="การค้ำประกัน">
    <ion-content>
        <div class="Back">
            <div class="item item-text-wrap">
                (เลขที่สัญญา:436XXXXXX)
                <p>ประเภท :เงินกู้ฉุกเฉิน</p>
                <p>ชื่อผู้กู้ : นายสะอาด งามแท้</p>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    <div class=" button-bar ">
                        <a class="{{onemonth? 'true' : 'button-outline'}} button  button-balanced" ng-click="onemonthz()">ปัจจุบัน</a>
                        <a class="{{threemonths? 'true' : 'button-outline'}} button  button-balanced" ng-click="threemonthsz()">3 เดือน</a>
                        <a class="{{sixmonths? 'true' : 'button-outline'}} button  button-balanced" ng-click="sixmonthsz()">6 เดือน</a>
                    </div>
                </div>
                <div class="col col-10"></div>
            </div>
            <div ng-show="onemonth">
                <div class="item item-divider">รายการล่าสุดของเดือนปัจจุบัน</div>
                <div class="list">
                    <a class="item" href="#">ชำระเงินกู้&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
         
            </a>

                </div>
            </div>



            <div ng-show="threemonths">
                <div class="item item-divider">ย้อนหลัง 3 เดือน</div>
                <div class="list">
                    <a class="item" href="#">ชำระเงินกู้&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
         
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 Mar 2016&nbsp;&nbsp;11:21</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>

                   
                </div>
            </div>

            <div ng-show="sixmonths">
                <div class="item item-divider">ย้อนหลัง 6 เดือน</div>
                <div class="list">
                    <a class="item" href="#">ชำระเงินกู้&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
         
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 Mar 2016&nbsp;&nbsp;11:21</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">5 Jan 2016&nbsp;&nbsp;13:10</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">1 Dec 2015&nbsp;&nbsp;18:22</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
                    <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">3 Noc 2015&nbsp;&nbsp;12:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>

                </div>
            </div>


        </div>
    </ion-content>
</ion-view>
