<ion-view view-title="การค้ำประกันเงินกู้">
    <ion-content>
        <div class="list">
            <a class="item " href="#/app/guaranteedetail">
                <div class="row">
                    <div class="col" style="margin-left:-8px;">
                        <p>เงินกู้ฉุกเฉิน</p>
                    </div>
                    <div class="col text-right">
                        <p>เลขที่สัญญา : 435-5538-0</p>
                    </div>
                </div>
                <p>ชื่อผู้กู้ : นายสะอาด  งามแท้</p>
                <p>จำนวนงวดที่ชำระ : 15/25 งวด</p>
                <h2 class="text-right">250,000.00</h2>
            </a>
        </div>
        <!--     Content Here<a href="#/app/guaranteedetail">goto_detail</a> -->
    </ion-content>
</ion-view>
