<ion-view view-title="การค้ำประกันเงินกู้">
  <ion-content>

 
 <div class="list">

    <a class="item " href="#">
     <p>เงินกู้ฉุกเฉิน&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เลขที่สัญญา : 435-5538-0</p> 
     <h2>ชื่อผู้กู้ : นายสะอาด  งามแท้</h2>
     <h2 >จำนวนงวดที่ชำระ : 15/25 งวด</h2>
     <h2 class="text-right">250,000.00</h2>
    </a>
	


</div>


    Content Here<a href="#/app/guaranteedetail">goto_detail</a>

  </ion-content>
</ion-view>