<ion-view view-title="การค้ำประกัน">
    <ion-content>
        <div class="Back">
            <div class="item item-text-wrap">
                (เลขที่สัญญา:436XXXXXX)
                <p>ประเภท :เงินกู้ฉุกเฉิน</p>
                <p>ชื่อผู้กู้ : นายสะอาด งามแท้</p>
            </div>
            <div class="item item-divider">รายการล่าสุด</div>
            <div class="list">
                <a class="item" href="#">ชำระเงินกู้&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 April 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
         
            </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 Mar 2016&nbsp;&nbsp;10:21</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         10,000.00
                </span>
            </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 Feb 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
                <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">5 Jan 2016&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
             <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 Dec 2015&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
             <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">4 Noc 2015&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>
             <a class="item" href="#">ออมทรัพย์&nbsp;&nbsp;<label style="color:#555555;">153-4-26170-0</label><br> 
                <label style="color:#555555;">6 Oct 2015&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          10,000.00
                </span>
            </a>

            </div>
        </div>
    </ion-content>
</ion-view>
