<ion-view view-title="ฌาปนกิจ">
    <ion-content>
        <div class="Back">
            <div class="item item-text-wrap">
                เลขที่สัญญา : 676-443-7
                <p>ชื่อผู้รับผลประโยชน์ :นายสะอาด ใจดี</p>
                <p>ประเภท : ค (บิดา-มารดา ของพนักงานบริษัทการบินไทย)</p>
            </div>
            <div class="row">
                <div class="col col-10"></div>
                <div class="col col-80">
                    <div class=" button-bar ">
                        <a class="{{onemonth? 'true' : 'button-outline'}} button  button-balanced" ng-click="onemonthz()">ปัจจุบัน</a>
                        <a class="{{threemonths? 'true' : 'button-outline'}} button  button-balanced" ng-click="threemonthsz()">3 เดือน</a>
                        <a class="{{sixmonths? 'true' : 'button-outline'}} button  button-balanced" ng-click="sixmonthsz()">6 เดือน</a>
                    </div>
                </div>
                <div class="col col-10"></div>
            </div>
            <div ng-show="onemonth">
                <div class="item item-divider">รายการล่าสุดของเดือนปัจจุบัน</div>
                <div class="list">
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">14 Apr 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         520.00
                </span>
            </a>
                </div>
            </div>
            <div ng-show="threemonths">
                <div class="item item-divider">ย้อนหลัง 3 เดือน</div>
                <div class="list">
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">14 Apr 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         520.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">17 Mar 2016&nbsp;&nbsp;14:20</label>
                 <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                           680.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">14 Feb 2016&nbsp;&nbsp;09:20</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          730.00
                </span>
            </a>
                </div>
            </div>
            <div ng-show="sixmonths">
                <div class="item item-divider">ย้อนหลัง 6 เดือน</div>
                <div class="list">
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">14 Apr 2016&nbsp;&nbsp;16:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         520.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">17 Mar 2016&nbsp;&nbsp;14:20</label>
                 <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                           680.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">14 Feb 2016&nbsp;&nbsp;09:20</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                          730.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">09 Jan 2016&nbsp;&nbsp;18:21</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                         800.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">20 Dec 2015&nbsp;&nbsp;07:43</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                           650.00
                </span>
            </a>
                    <a class="item" href="#">ประเภท : ก&nbsp;&nbsp;<label style="color:#555555;">667-234-1</label><br> 
                <label style="color:#555555;">15 Nov 2015&nbsp;&nbsp;10:50</label>
                <span class="item-note color-green">
                    <!-- <i class="ion-android-remove"></i> -->
                    <i class="ion-plus-round"></i>
                           520.00
                </span>
            </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
