<ion-view view-title="เงินกู้">
    <ion-content>
        <div class="list">
            <a class="item " href="#/app/loandetail">
                <div class="row">
                    <div class="col" style="margin-left:-8px;">
                        <p>เงินกู้ฉุกเฉิน</p>
                    </div>
                    <div class="col">
                        <p> เลขที่สัญญา : 435-5438-6</p>
                    </div>
                </div>
                <h2>ชื่อผู้ค้ำ : นายมานะ ดีละม้าย</h2>
                <h2>จำนวนงวดที่ชำระ : 15/25 งวด</h2>
                <h2 class="text-right">250,000.00</h2>
            </a>
            <a class="item " href="#/app/loandetail">
                <div class="row">
                    <div class="col" style="margin-left:-8px;">
                        <p>เงินกู้สามัญ</p>
                    </div>
                    <div class="col">
                        <p> เลขที่สัญญา : 475-1438-6</p>
                    </div>
                </div>
                <h2>ชื่อผู้ค้ำ : นายงามดี มีทาง</h2>
                <h2>จำนวนงวดที่ชำระ : 41/60 งวด</h2>
                <h2 class="text-right">1,000,000.00</h2>
            </a>
        </div>
    </ion-content>
</ion-view>
