<ion-view>
    <ion-content>
        <br>
        <br>
        <div class="text-center">
            <h1 class="title">TG-Saving</h1></div>
        <br>
        <br>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="ชื่อผู้ใช้">
            </label>
            <br>
            <label class="item item-input">
                <input type="text" placeholder="รหัสผ่าน">
            </label>
        </div>
       
        <div class="row">
            <div class="col">
                <button class="button button-block button-positive " ng-click="login()">
                    ลงชื่อเข้าใช้
                </button>
            </div>
        </div>
      
        <div class="row">
            <div class="col col-50 text-right">
                <button class="button button-block button-positive">ลืมรหัส</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive" ng-click="register()">สมักสมาชิก</button>
            </div>
        </div>
    </ion-content>
</ion-view>
