<ion-view>
    <ion-content class="BG-login" scroll="false">
        <br>
        <br>
        <div class="text-center">
            <h1 class="title">TG-Saving</h1></div>
        <br>
        <br>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="ชื่อผู้ใช้" ng-model="username">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="password" placeholder="รหัสผ่าน" ng-model="password">
            </label>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-block button-royal " ng-click="login(username,password)">
                    ลงชื่อเข้าใช้
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col col-50 text-right">
                <button class="button button-block button-royal">ลืมรหัสผ่าน</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-royal" ng-click="register()">สมัครสมาชิก</button>
            </div>
        </div>
    </ion-content>
</ion-view>
