<ion-side-menus enable-menu-with-back-views="false" ng-init="menuLogin()">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button style="color: #FFF;">
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:White;">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="BG-menu">
        <ion-header-bar class="BG-menu bar-stable" style="height: 100px;">
            <img src="img/logo1.png" style="height: 70px; margin-left:25%;">
        </ion-header-bar>
        <ion-content style="margin-top:50px;">
            <ion-list style="background-color: #4E2A82;">
                <ion-item menu-close href="#/app/dashboard" class="Bg-menus">
                    ข้อมูลการเงิน
                </ion-item>
                <div ng-hide="loginMenu">
                    <ion-item menu-close href="#/app/deposit" class="Bg-menus">
                        <label class="sub-menu">เงินฝาก</label>
                    </ion-item>
                    <ion-item menu-close href="#/app/capital-stock" class="Bg-menus">
                        <label class="sub-menu">ทุนเรือนหุ้น</label>
                    </ion-item>
                    <ion-item menu-close href="#/app/loan" class="Bg-menus">
                        <label class="sub-menu">เงินกู้</label>
                    </ion-item>
                    <ion-item menu-close href="#/app/guarantee" class="Bg-menus">
                        <label class="sub-menu">การค้ำประกัน</label>
                    </ion-item>
                    <ion-item menu-close href="#/app/interment" class="Bg-menus">
                        <label class="sub-menu">ฌาปนกิจ</label>
                    </ion-item>
                </div>
                <ion-item menu-close href="#/app/evalu" class="Bg-menus">
                    แบบสอบถาม
                </ion-item>
                <ion-item menu-close href="#/app/feed" class="Bg-menus">
                    ข่าวสารและการแจ้งเตือน
                </ion-item>
                <ion-item menu-close href="#/app/calculator" class="Bg-menus">
                    คำนวณเงินกู้
                </ion-item>
                <ion-item menu-close href="#/app/download" class="Bg-menus">
                    ดาวน์โหลดเอกสาร
                </ion-item>
                <ion-item menu-close href="#/app/faq" class="Bg-menus">
                    คำถามที่พบบ่อย
                </ion-item>
                <ion-item menu-close href="#/app/about" class="Bg-menus">
                    เกี่ยวกับเรา
                </ion-item>
                <ion-item menu-close href="#/app/setting" class="Bg-menus">
                    ตั้งค่า
                </ion-item>
                <ion-item menu-close href="#/app/login" class="Bg-menus">
                    ออกจากระบบ
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
