<ion-view view-title="ดาวน์โหลดเอกสาร">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button style="color: #FFF;">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color:White;">
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
            <button class="button button-icon  ion-archive"style="color:White;">
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content>
        <div>
            <img src="img/pdf1.png" style="width: 100%; margin-top:10px;">
                        <img src="img/pdf2.png" style="width: 100%; margin-top:10px;">
        </div>
    </ion-content>
</ion-view>
