<ion-view view-title="Title">
    <ion-content>
        <div class="col col-80 text-center header-label">
            <p>ใบแจ้งยอดเงินสมาชิกกองทุน</p>
        </div>
        <div>
            <img src="img/pdf.png" style="width: 100%; margin-top:10px;">
        </div>
        <div class="row ">
            <div class="col col-25 ">
            </div>
            <div class="col col-25 ">
            </div>
            <div class="col col-25 ">
            </div>
            <div class="col col-25 text-center">
                <button class="button button-balanced miniPackMember">
                    <i class="ion-ios-cloud-download-outline icon-font-40"></i>
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
