<ion-view view-title="Register">
    <ion-content class="BG-login">
        <br>
        <br>
        <div class="text-center">
            <h1 class="title">สมัครสมาชิก</h1></div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="ชื่อผู้ใช้">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="รหัสผ่าน">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="ชื่อ">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="สกุล">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="อีเมล์">
            </label>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="รหัสผ่าน">
            </label>
        </div>
        <div class="row">
            <div class="col col-50 text-right">
                <button class="button button-block button-royal">ลงทะเบียน</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-royal" ng-click="gotologin()">ยกเลิก</button>
            </div>
    </ion-content>
</ion-view>
