<ion-view view-title="Title">
  
  <ion-content>
   
<br><br>
<div class="text-center">
            <h1 class="title">สมักสมาชิก</h1></div>

            <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="ชื่อผู้ใช้">
            </label>
            <br>
            <label class="item item-input">
                <input type="text" placeholder="รหัสผ่าน">
            </label>
            <br>
            <label class="item item-input">
                <input type="text" placeholder="ชื่อ">
            </label>
            <br>
            <label class="item item-input">
                <input type="text" placeholder="นามสกุล">
            </label>
            <br>
            <label class="item item-input">
                <input type="text" placeholder="อีเมล์">
            </label>
        </div>

        <div class="row">
            <div class="col col-50 text-right">
                <button class="button button-block button-positive">ลงทะเบียน</button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive" ng-click="gotologin()">ยกเลิก</button>
            </div>
  </ion-content>
</ion-view>