<ion-view view-title="ตั้งค่า">
  <ion-content>
    <div class="list card">

  <a class="item item-icon-left item-icon-right" href="#/app/changepassword">
    <i class="icon ion-gear-b"></i>
    เปลี่ยนรหัสผ่าน
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#/app/changename">
    <i class="icon ion-person"></i>
    เปลี่ยนชื่อ-นามสกุล
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#/app/changechild">
    <i class="icon ion-person-stalker"></i>
    เปลี่ยนชื่อผู้รับผลประโยชน์
    <i class="icon ion-ios-arrow-forward"></i>
  </a>


</div>
  </ion-content>
</ion-view>