/* Empty. Add your own CSS if you like */

.sub-menu {
    margin-left: 40px;
    font-size: 15px;
}

.BG-menu {
    background-color: #886AEA;
}

.Bg-menus {
    color: #FFF;
    border-color: #886AEA;
}

.mg-top {
    margin-top: 70px;
}

.BG-login {
    background: url('../img/bg.jpg') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

ion-nav-bar.login-color * {
    color: #FFFFFF;
}

ion-nav-bar.bar-stables * {
    color: red;
}

.miniPack {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    padding-top: 10px;
    font-size: 20px;
}

.bigPack {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    font-size: 30px;
}

.color-red {
    color: red;
    font-size: 20px;
}

.color-green {
    color: green;
    font-size: 20px;
}

.font-20 {
    font-size: 20px;
}

.font-15 {
    font-size: 15px;
}

.margin-top-15 {
    margin-top: -15px;
}

.font-25 {
    font-size: 25px;
}

.bottom-tap > .tabs, .tabs.tabs-positive {
    border-color: #886AEA;
    background-color: #886AEA;
    background-image: linear-gradient(0deg, #886AEA, #886AEA 50%, transparent 50%);
    color: #fff;
}

/*#886AEA*/

.item-radio .item-content {
    position: relative;
    z-index: 2;
    padding: 16px 49px 16px 16px;
    border: none;
    background-color: #FFF;
}