/* Empty. Add your own CSS if you like */

.sub-menu {
    margin-left: 40px;
    font-size: 15px;
}

.BG-menu {
    background-color: #4E2A82;
}

.Bg-menus {
    color: #FFF;
    border-color: #4E2A82;
}

.mg-top{
	margin-top: 70px;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
    border-color: #4E2A82;
    background-color: #4E2A82;
    background-image: linear-gradient(0deg, #4E2A82, #4E2A82 50%, transparent 50%);
    color: #fff;
}